/**
 * Site header
 */
.site-header {
  border-top: 1px solid $border-color-03;
  border-bottom: 1px solid $border-color-01;
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * $base-font-size * 2.25;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  @include media-query($on-palm) {
    padding-right: 45px;
  }

  &,
  &:visited {
    color: $site-title-color;
  }
}

$font-size: 16px;
$text-primary: #b6b6b6;
$text-secondary: #ececec;
$bg-primary: #23232e;
$bg-secondary: #141418;
$transition-speed: 600ms;

.navbar {
  position: fixed;
  background-color: $bg-primary;
  transition: width 600ms ease;
  overflow: none;
  z-index: 1;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
  padding-bottom: 25px;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: $text-primary;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: $transition-speed;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: $bg-secondary;
  color: $text-secondary;
}

.link-text {
  //   display: none;
  opacity: 0;
  margin-left: 1rem;
  overflow: hidden;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #FFBB00;
}

.fa-secondary {
  color: #375e97;
}

.fa-tridinary {
  color: #d34a4a;
}
.fa-green {
  color: #3f681c;
}


.fa-primary,
.fa-secondary,
.fa-tridinary {
  transition: $transition-speed;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: $text-secondary;
  background: $bg-secondary;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: $transition-speed;
}

.logo-text {
  display: inline;
  position: absolute;
  margin-left: 1rem;
  left: -999px;
  transition: $transition-speed;
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 5rem;
    height: 5rem;
    border-radius: 10px;
  }

  .navbar:hover {
    width: 75vw;
    height: 90vh;
    padding-top: 10rem;
    transition: $transition-speed;
    border-radius: 5px;
  }

  .logo-text {
    display: none;
    position: absolute;
    opacity: 0;
    left: -10rem;
    transition: $transition-speed;
  }

  .navbar:hover .logo-text {
    display: inline;
    opacity: 1;
    left: 5rem;
    transition-delay: 3s;
    transition-timing-function: ease-in;
  }

  .logo {
    margin-bottom: 0;
  }

  .logo svg {
    transform: rotate(-90deg);
  }

  .navbar:hover .logo svg {
    transform: rotate(0deg);
  }

  .navbar-nav {
    flex-direction: column;
    width: 5rem;
    opacity: 0.5;
  }

  .nav-link {
    justify-content: left;
    width: 75vw;
  }
  .navbar:hover .link-text {
    display: inline;
    opacity: 1;
    transition: $transition-speed;
    transition-delay: $transition-speed/2;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
    opacity: 1;
    transition: $transition-speed;
    transition-delay: $transition-speed/2.5;
  }

  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    display: inline;
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}

/**
 * Site footer
 */

.site-footer, 
.homepage-site-footer {
  border-top: 1px solid $border-color-01;
  padding: 1rem;
}

/* Small screens */
@media only screen and (max-width: 1000px) {
  .site-footer {
    padding-left: 5rem;
  }
  .homepage-site-footer {
    padding-left: 0;
  }
}
/* Big screens */
@media only screen and (min-width: 1000px) {
  .site-footer {
    white-space: nowrap;
  }
}
.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 4;
}

.feed-subscribe .svg-icon {
  padding: 5px 5px 2px 0;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper,
.homepage-footer-col-wrapper,
.social-links {
  @include relative-font-size(0.9375);
  color: $brand-color;
  white-space: initial;
  display: flex;
  justify-content: center;
}



.footer-col {
  margin-bottom: $spacing-unit / 5;
  align-content: center;
}

.footer-col-1,
.footer-col-2 {
  width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: calc(100% - (#{$spacing-unit} / 2));
}

@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: calc(45% - (#{$spacing-unit} / 2));
  }
}

@media screen and (min-width: $on-medium) {
  .footer-col-wrapper {
    display: flex;
  }

  .footer-col {
    width: calc(75% - (#{$spacing-unit} / 2));
    padding: 0 ($spacing-unit / 2);

    &:first-child {
      padding-right: 50px;
      padding-left: 50px;
    }

    &:last-child {
      padding-right: 50px;
      padding-left: 75px;
    }
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1 0 auto;
  padding-left: 5rem;
  padding-right: 5rem;
}

.page-heading {
  @include relative-font-size(2);
  border-bottom: 1px solid $border-color-01;
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $brand-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  border-bottom: 1px solid $border-color-01;
}

.post-title,
.post-content h1 {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1.15;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.625);
  }
}

@media screen and (max-width: 600px) {
  .page-content {
    padding: $spacing-unit 0;
    flex: 1 0 auto;
    margin-left: 0;
    padding: 1rem;
  }
}

/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
  .one-half {
    width: calc(50% - (#{$spacing-unit} / 2));
  }
}

#logo {
  fill: white;
  fill-opacity: 0%;
  animation: fillFadeIn 1.5s ease-in 27 * 0.04s forwards;
}

@for $i from 1 through 9 {
  #logo path:nth-child(#{$i}) {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: fadeInAnimation 1s ease-in $i * 0.04s forwards;
  }
}

@keyframes fadeInAnimation {
  to {
    stroke-dashoffset: 0%;
  }
}

@keyframes fillFadeIn {
  to {
    fill-opacity: 100%;
  }
}
