body {
  background-color: #191f2c;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  height: 100vh;
}

#logo {
  -ms-flex-line-pack: center;
      align-content: center;
  top: 50%;
  position: absolute;
  left: 20%;
  fill: white;
  fill-opacity: 0%;
  -webkit-animation: fillFadeIn 0.5s ease-in 4.5s forwards;
          animation: fillFadeIn 0.5s ease-in 4.5s forwards;
}

#logo path:nth-child(1) {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  -webkit-animation: fadeInAnimation 2s ease-in 0.07s forwards;
          animation: fadeInAnimation 2s ease-in 0.07s forwards;
}

#logo path:nth-child(2) {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  -webkit-animation: fadeInAnimation 2s ease-in 0.14s forwards;
          animation: fadeInAnimation 2s ease-in 0.14s forwards;
}

#logo path:nth-child(3) {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  -webkit-animation: fadeInAnimation 2s ease-in 0.21s forwards;
          animation: fadeInAnimation 2s ease-in 0.21s forwards;
}

#logo path:nth-child(4) {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  -webkit-animation: fadeInAnimation 2s ease-in 0.28s forwards;
          animation: fadeInAnimation 2s ease-in 0.28s forwards;
}

#logo path:nth-child(5) {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  -webkit-animation: fadeInAnimation 2s ease-in 0.35s forwards;
          animation: fadeInAnimation 2s ease-in 0.35s forwards;
}

#logo path:nth-child(6) {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  -webkit-animation: fadeInAnimation 2s ease-in 0.42s forwards;
          animation: fadeInAnimation 2s ease-in 0.42s forwards;
}

#logo path:nth-child(7) {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  -webkit-animation: fadeInAnimation 2s ease-in 0.49s forwards;
          animation: fadeInAnimation 2s ease-in 0.49s forwards;
}

#logo path:nth-child(8) {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  -webkit-animation: fadeInAnimation 2s ease-in 0.56s forwards;
          animation: fadeInAnimation 2s ease-in 0.56s forwards;
}

#logo path:nth-child(9) {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  -webkit-animation: fadeInAnimation 2s ease-in 0.63s forwards;
          animation: fadeInAnimation 2s ease-in 0.63s forwards;
}

#logo path:nth-child(10) {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  -webkit-animation: fadeInAnimation 2s ease-in 0.7s forwards;
          animation: fadeInAnimation 2s ease-in 0.7s forwards;
}

#logo path:nth-child(11) {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  -webkit-animation: fadeInAnimation 2s ease-in 0.77s forwards;
          animation: fadeInAnimation 2s ease-in 0.77s forwards;
}

#logo path:nth-child(12) {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  -webkit-animation: fadeInAnimation 2s ease-in 0.84s forwards;
          animation: fadeInAnimation 2s ease-in 0.84s forwards;
}

#logo path:nth-child(13) {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  -webkit-animation: fadeInAnimation 2s ease-in 0.91s forwards;
          animation: fadeInAnimation 2s ease-in 0.91s forwards;
}

#logo path:nth-child(14) {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  -webkit-animation: fadeInAnimation 2s ease-in 0.98s forwards;
          animation: fadeInAnimation 2s ease-in 0.98s forwards;
}

#logo path:nth-child(15) {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  -webkit-animation: fadeInAnimation 2s ease-in 1.05s forwards;
          animation: fadeInAnimation 2s ease-in 1.05s forwards;
}

#logo path:nth-child(16) {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  -webkit-animation: fadeInAnimation 2s ease-in 1.12s forwards;
          animation: fadeInAnimation 2s ease-in 1.12s forwards;
}

#logo path:nth-child(17) {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  -webkit-animation: fadeInAnimation 2s ease-in 1.19s forwards;
          animation: fadeInAnimation 2s ease-in 1.19s forwards;
}

#logo path:nth-child(18) {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  -webkit-animation: fadeInAnimation 2s ease-in 1.26s forwards;
          animation: fadeInAnimation 2s ease-in 1.26s forwards;
}

#logo path:nth-child(19) {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  -webkit-animation: fadeInAnimation 2s ease-in 1.33s forwards;
          animation: fadeInAnimation 2s ease-in 1.33s forwards;
}

#logo path:nth-child(20) {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  -webkit-animation: fadeInAnimation 2s ease-in 1.4s forwards;
          animation: fadeInAnimation 2s ease-in 1.4s forwards;
}

#logo path:nth-child(21) {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  -webkit-animation: fadeInAnimation 2s ease-in 1.47s forwards;
          animation: fadeInAnimation 2s ease-in 1.47s forwards;
}

#logo path:nth-child(22) {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  -webkit-animation: fadeInAnimation 2s ease-in 1.54s forwards;
          animation: fadeInAnimation 2s ease-in 1.54s forwards;
}

#logo path:nth-child(23) {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  -webkit-animation: fadeInAnimation 2s ease-in 1.61s forwards;
          animation: fadeInAnimation 2s ease-in 1.61s forwards;
}

#logo path:nth-child(24) {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  -webkit-animation: fadeInAnimation 2s ease-in 1.68s forwards;
          animation: fadeInAnimation 2s ease-in 1.68s forwards;
}

#logo path:nth-child(25) {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  -webkit-animation: fadeInAnimation 2s ease-in 1.75s forwards;
          animation: fadeInAnimation 2s ease-in 1.75s forwards;
}

#logo path:nth-child(26) {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  -webkit-animation: fadeInAnimation 2s ease-in 1.82s forwards;
          animation: fadeInAnimation 2s ease-in 1.82s forwards;
}

#logo path:nth-child(27) {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  -webkit-animation: fadeInAnimation 2s ease-in 1.89s forwards;
          animation: fadeInAnimation 2s ease-in 1.89s forwards;
}

@-webkit-keyframes fadeInAnimation {
  to {
    stroke-dashoffset: 0%;
  }
}

@keyframes fadeInAnimation {
  to {
    stroke-dashoffset: 0%;
  }
}

@-webkit-keyframes fillFadeIn {
  to {
    fill-opacity: 100%;
  }
}

@keyframes fillFadeIn {
  to {
    fill-opacity: 100%;
  }
}
/*# sourceMappingURL=style.css.map */