.sudokuoverlay {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.sudoku {
  background-color: black;
  width: 360px;
  height: 360px;
  display: grid;
  grid-template-columns: 360px;
  grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px;
}
.sudokuboks {
  width: 360px;
  height: 40px;
  background-color: black;
  display: flex;
  grid-template-columns: 33px 33px 33px;
  justify-self: center;
  align-self: center;
  column-gap: 1px;
}

.sudokuinput {
  font-weight: bold;
  font-size: 20px;
  width: 39px;
  height: 39px;
  border: none;
  padding: 0px;
  display: flex;
  justify-self: center;
  align-self: center;
  text-align: center;
  color: rgb(194, 194, 194);
  background-color: rgb(66, 66, 66);
  &:hover {
    background-color: rgb(53, 53, 53);
  }
  &:focus {
    background-color: rgb(53, 53, 53);
    border: none;
  }
}


.sudokuinput1 {
    font-weight: bold;
    font-size: 20px;
    width: 39px;
    height: 39px;
    border: none;
    padding: 0px;
    display: flex;
    justify-self: center;
    align-self: center;
    text-align: center;
    color: rgb(194, 194, 194);
    background-color: rgb(54, 54, 54);
    &:hover {
      background-color: rgb(34, 34, 34);
    }
    &:focus {
      background-color: rgb(34, 34, 34);
      border: none;
    }
  }

  .slidecontainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 30%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(76, 175, 80);
    cursor: pointer;
  }

  #slider-tekst-sudoku {
    display: flex;
    justify-content: center;
  }

  #sudokuspan {
    padding-left: .5rem;
  }